.div_youtube{
    height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #000;
   

   h2{
    color: #f3f3f3;
   }
   &--iframe{
    
    iframe{
      width: 1161px;
      height: 653px;
    }
   }
}