.footer {
    display:block;//apagar depois
    top: auto;
    bottom: 0;
    background: #000000;
    font-size: 12px;
    padding: 5px 0;
    color: rgb(224, 226, 230);
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    text-align: center;
    

    &__paragraphe1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding-bottom: 3px;
        p{
            margin: 3px 5px;
        }
    }
}
