@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}



.hero{
    @include flex-row();
    background-color: #000;
    justify-content: space-between;
   max-width:100vw;
   width: 100%;

    &__bg{
        img{
            margin-top: -80px
        }
    }

    &__home{
        @include flex-row();
        justify-content: space-between;
        background-color: #000;
        
        &-img{
                display: flex;
                flex-direction:column;
                align-items:center ;
                margin-right: 150px;
                

            &--img1{
                margin-top: 20px;
                width: 35vw;
                
            } 
            
            &--img2{
                margin-top: 70px;
                width: 25vw;
                
            }

            &--img3{
                margin-top:30px;
                width: 13vw;
                
            }

            &--img4{
                margin-top: 20px;
               ul{
                display: flex;
                flex-direction: row;
                list-style: none;

                li{
                    margin: 0 5px;
                    img{
                        width: 26px
                    }

                }

                li:last-child{
                    @include flex-row();
                    padding-bottom: 4px;
                    img{
                        width: 36px;
                    }
                }
               }
                
            }

            &--img5{
                @include flex-col();
              
            
                .paragrafo{  
                    margin-top: 10px;
                    margin-bottom: 10px;
                    background-color: #ced4af;
                    width: 100%;
                    height:100%;
                    border-radius: 30px;
                    padding: 10px 40px;
                }
 
            }
        }

        &__nav{
        @include flex-col();
        align-items: end;
            &--item{
                margin-top: 10px;
                @include flex-row();
                width: 100px;
                position: fixed;
                
                button{
                cursor: pointer;
                margin-right: 2px;
                width: 50px;
                height: 30px;
                background-color: #00000000;
                border: none;
                img{
                    width: 18px;
                }
                }
            
            }
        }
    }

    &__hamburguer{
        position: fixed;
        margin-top: 0px;
        height:100%;
        width: 280px;
        background-color: #121111;
        max-width: 0;/* Inicialmente oculto */
        overflow: hidden;/* Oculta o conteúdo que excede a altura máxima */
        transition: max-width 1s ease; /* Transição suave para max-height */

       
        &__closeHamburg{
            cursor: pointer;
            font-family: 'Lucida Sans', sans-serif;
            font-weight: bold;
            display: block;
            font-size: 2em ;
            text-align: end;
            margin: 15px;
            color: white;
           

        }
        &__nav{
            margin-top: 100px;
            

            &__ul{

                &--li{
                    cursor: pointer;
                    text-align: center;
                    padding: 15px 20px;
                    height: 50px;
                    color: #f3f3f3;

                    
                    a{
                        
                        text-decoration: none;
                        
                        color: #f3f3f3;
                        
                    }
                    &:hover , a:hover{
                        width:100%;
                        background-color: #ced4af;
                        color: #000;
                        font-weight: bold
                    }
                  
                }

            &--subLi{ 

                    &--li_Icon{
                        @include flex-row();
                        justify-content: center;
                        
                        img{
                            margin: 10px 5px;
                            height: 30px;
                            }
                        
                    }
                }

            }
        } 
    }

    .btnHamburguerVisivel{
        max-width: 280px;
    }

    //Construcao do btn Hamburg
    .divBtnHanburg{
        border: 2px solid white;
        margin: 3px;
        width: 30px;
        border-radius: 5px;   
    }

    //-----div itens Share-----
    .hero__share{
        position: fixed;
        width: 160px;
        height: auto;
        background-color: #f3f3f3;
        margin-right: 2px;
        border-radius: 15px;
        top: 60px;
        max-height: 0;/* Inicialmente oculto */
        overflow: hidden;/* Oculta o conteúdo que excede a altura máxima */
        transition: max-height 1s ease; /* Transição suave para max-height */
        
        &--p{
            @include flex-row();
            justify-content: space-between;
            margin: 15px;
        }

        &--ul{
            @include flex-row();
            list-style: none;
            justify-content: space-between;
            margin: 30px 30px 10px 15px;

            &-li{
                cursor: pointer;
                margin-right: 3px;

                img{
                    width: 20px;
                }
            }
        }
    }

    //Eveito no butao Shahe 
    .btnShareVisivel{
       max-height: 0px; /* Desloca o menu para dentro da tela */
    }

    #closeShare{
        max-height: 100px;
        cursor: pointer;}
}