// estilos.scss

$cor-primaria: #5fa0cc;
$cor-secundaria: #e7d63c;

body {
  font-family: Arial, sans-serif;
  background-color: $cor-primaria;
  color: $cor-secundaria;
}

.header {
  background-color: $cor-secundaria;
  color: $cor-primaria;
  padding: 20px;
}

.button {
  background-color: $cor-primaria;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($cor-primaria, 10%);
  }
}
