//paleta de cores
$bg-header-color:#182C61;
$color-link:#fff;
$bg-button-color:#4cd137;
$bg-section:#f5f6fa;

//fontes
$font-principal:Roboto, sans-serif;

//adcionando breakpoint
$tablet: 1023px;
$mobile:767px;