@import "../config/config.scss";
@mixin elementProduct(){
    padding: 8px;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
}

body {
    background-color: $bg-section;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item img {
    width: 100%;
    border-radius: 16px;
}
}

.product-button {
    display: block;
    background-color: $bg-button-color;
    color: $color-link;
    text-align: center;
    @include elementProduct();
    text-decoration: none;
    &:hover{
        background-color: darken($color: $bg-button-color, $amount: 15%);
    }
}

